@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    text-align: center;
    font-family: 'Ubuntu Condensed', Ubuntu, Verdana, Arial, sans-serif;
    background-color: #333;
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
}

#painter {
    position: absolute;
    width: 100%;
    min-width: 350px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: #efefef;
}

h1 {
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    padding: 4px;
    height: 20px;
    z-index: 1;
    margin: 0;
    color: white;
    background-color: rgb(180, 180, 180);
    text-align: left;
}

#panel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgb(180, 180, 180);
    text-align: left;
    transition: all 0.5s
}

#panel.labelsShowed {
  height: 90px;
}

@media screen and (max-width:1050px){
  #panel {
    height: auto;
    text-align: center;
  }
}

@media screen and (max-width:1050px){
  #panel.labelsShowed {
    height: auto;
  }
}

form {
  padding: 0px;
  margin: 0px;
  display: block;
  height: 40px;
}

.toolbar {
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.9em;
  height: 40px;
  margin: 5px 0;
  padding: 0;
  transition: all 0.5s;
  border-right: 1px solid rgb(140, 140, 140);
  position: relative;
}

.toolbar.labelsShowed {
  height: 80px;
}

@media screen and (max-width:1050px){
  .toolbar {
    height: auto;
    border-left: 1px solid rgb(160, 160, 160);
  }
}

@media screen and (max-width:1050px){
  .toolbar.labelsShowed {
    height: auto;
    margin-bottom: 15px;
  }
}

ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.toolbar_label,
.tool_label {
  visibility: hidden;
  height: 1px;
  width: 100%;
  color: #fff;
  font-size: 1em;
  text-align: center;
  transition: all 0.5s;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: all 0.5;
  position: absolute;
}

.toolbar_label {
  text-transform: uppercase;
}
.show_labels {
  visibility: visible;
  height: 20px;
  transform: scaleY(1);
  position: relative;
}

.tools {
  position: relative;
  display: inline-block;
  height:  40px;
  margin: 0 5px;
  transition: all 0.5s;
}

.toolButton {
  padding: 0px;
  border: none;
  background: none;
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}

.toolButton img {
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
}

input {
  display: block;
  float: left;
  font: 1.1em 'Ubuntu Condensed';
  box-sizing: border-box;
  margin: 5px 3px;
  padding: 0px;
  outline: none;
  border: none;
  height: 30px;
  width: 30px;
  transition: all 0.5s;
}

.toolButton:enabled:hover,
.active_tool {
  background-color: rgb(150, 150, 150);
  transition: 0.2s;
  box-shadow: inset 0px 0px 5px 0px rgba(40, 40, 40, 0.75);
  border-radius: 5px;
}

.toolButton:hover img,
.active_tool img {
  margin: 7px;
  width: 26px;
  height: 26px;
  transition: 0.2s;
}

.toolButton:disabled img {
  opacity: 0.5;
  margin: 5px;
  width: 30px;
  height: 30px;
  }

#main_color_picker::-webkit-color-swatch-wrapper,
#main_color_picker::-webkit-color-swatch {
	padding: 0;
	border: none;
}

#main_color_picker
 {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 0px;
  background-image: none;
  background: none;
}

#main_color_picker:hover {
  cursor: pointer;
}

input[type="number"] {
  width: 45px;
  padding-left: 3px;
}

label {
  box-sizing: border-box;
  position: relative;
  padding: 5px 3px 0 3px;
  margin: 5px 0;
  float: left;
  right: -3px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.3em;
  height: 30px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

#board {
    clear: both;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    top: -78px;
    padding: 108px 30px 30px 30px;
    width: 100%;
    min-height: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board.labelsShowed {
  top: -118px;
  padding-top: 148px;
}

@media screen and (max-width:1050px){
  #board {
    height: auto;
    top: -134px;
    padding-top: 164px;
  }
  #board.labelsShowed {
    top: -226px;
    padding-top: 256px;
  }
}

@media screen and (max-width:530px){
  #board {
    top: -187px;
    padding-top: 217px;
  }
  #board.labelsShowed {
    top: -325px;
    padding-top: 355px;
  }
}

table,
tr,
td {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
td:hover {
  box-shadow: inset 0px 0px 5px 0 rgba(90,90,90,0.75);
}

#pixel_canvas {
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
    border: 2px solid black;
    -moz-box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
    box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
}

.bordered_cells {
    border: 1px solid #d3d3d3;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

#save {
  display: none;
}

.brush {
  cursor: url('../img/cursors/brush_cursor.png') 0 30, default;
}

.eyedropper {
  cursor: url('../img/cursors/eyedropper_cursor.png') 0 30, default;
}

.erase {
  cursor: url('../img/cursors/erase_cursor.png') 0 30, default;
}

.fill {
  cursor: url('../img/cursors/fill_cursor.png') 0 25, default;
}

#forPrint {
  display: none;
}

@media print {
  @page {
    margin: 0;
  }

  h1,
  #panel,
  #board {
    display: none;
  }

  #forPrint {
    display: block;
  }

  #forPrint img {
    display: block;
    max-width: 0%;
    margin: 1cm auto;
  }
}

#markers {
  padding: 0;
  display: inline-block;
  width: 72px;
  height: 40px;
}

.main_color {
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 5px;
}
#bg-color {
  background-color: #ffffff;
  margin: 5px 0 0 5px;
}

#bd-color {
  background-color: #d3d3d3;
  margin: -24px 0 0 37px;
}

#br-color {
  background-color: #000000;
  margin: -16px 0 0 21px;
}

#swatches {
  padding: 0;
  display: inline-block;
  width: 600px;
  height: 40px;
}

.swatch {
  float: left;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 5px 0;
  transition: all 0.2s;
}

.swatch:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#pink {
  background-color: #ff00ff;
}

#purple {
  background-color: #a008c2;
}

#violet {
  background-color: #5d0a8a;
}

#dark-blue {
  background-color: #19469e;
}

#blue {
  background-color: #0c8ef2;
}

#light-blue {
  background-color: #66ccf5;
}

#turquoise {
  background-color: #06eda4;
}

#sea-green {
  background-color: #03c15a;
}

#dark-green {
  background-color: #00940f;
}

#green {
  background-color: #00c914;
}

#lime {
  background-color: #6aff00;
}

#yellow {
  background-color: #ffff00;
}

#gold {
  background-color: #ffd700;
}

#orange {
  background-color: #ff9100;
}

#dark-orange {
  background-color: #ff4900;
}

#red {
  background-color: #ff0000;
}

#brown {
  background-color: #85501f;
}

#black {
  background-color: #000000;
}

#gray {
  background-color: #808080;
}

#white {
  background-color: #ffffff;
}



