@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    text-align: center;
    font-family: 'Ubuntu Condensed', Ubuntu, Verdana, Arial, sans-serif;
    background-color: #333;
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
}

#painter {
    position: absolute;
    width: 100%;
    min-width: 350px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: #efefef;
}

h1 {
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    padding: 4px;
    height: 20px;
    z-index: 1;
    margin: 0;
    color: white;
    background-color: rgb(180, 180, 180);
    text-align: left;
}

#toolbars_panel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgb(180, 180, 180);
    text-align: left;
}

@media screen and (max-width:830px){
  #toolbars_panel {
    height: auto;
    text-align: center;
  }
}

form {
  padding: 0px;
  margin: 0px;
  display: block;
  height: 40px;
}

.toolbar {
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.9em;
  height: 40px;
  margin: 5px 0px;
  border-right: 1px solid rgb(160, 160, 160);
}

.tools {
  display: inline-block;
  height:  40px;
  margin: 0px 3px;
}
.tool_button {
  padding: 0px;
  border: none;
  background: none;
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.tool_button img {
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
}

input {
  display: block;
  float: left;
  font: 1.1em 'Ubuntu Condensed';
  box-sizing: border-box;
  margin: 5px 3px;
  padding: 0px;
  border: none;
  height: 30px;
  width: 30px;
}

.tool_button:enabled:hover,
.active_tool {
  background-color: rgb(150, 150, 150);
  transition: 0.2s;
  box-shadow: inset 0px 0px 5px 0px rgba(40, 40, 40, 0.75);
  border-radius: 5px;
}

.tool_button:hover img,
.tool_button:hover input,
.active_tool img {
  margin: 7px;
  width: 26px;
  height: 26px;
  transition: 0.2s;
}

.tool_button:disabled img {
  opacity: 0.5;
  margin: 5px;
  width: 30px;
  height: 30px;
  }

input[type="color"] {
  width: 30px;
  height: 30px;
  margin:5px;
  background-color: none;
  background: none;
  background: transparent;
}

input[type="color"]:hover {
  margin: 7px;
  width: 26px;
  height: 26px;
  transition: 0.2s;
}

input[type="number"] {
  width: 40px;
}

#board {
    clear: both;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    top: -78px;
    padding: 108px 30px 30px 30px;
    width: 100%;
    min-height: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#board h2 {
    color: #444;
    padding: 0.75rem 0 0;
}

table,
tr,
td {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
td:hover {
  box-shadow: inset 0px 0px 5px 0 rgba(90,90,90,0.75);
}

#pixel_canvas {
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
    border: 2px solid black;
    -moz-box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
    box-shadow: 2px 2px 5px 0 rgba(90,90,90,0.75);
}

.bordered_cells {
    border: 1px solid #d3d3d3;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

#save {
  display: none;
}

.brush {
  cursor: url('../img/cursors/brush_cursor.png') 0 30, default;
}

.eyedropper {
  cursor: url('../img/cursors/eyedropper_cursor.png') 0 30, default;
}

.erase {
  cursor: url('../img/cursors/erase_cursor.png') 0 30, default;
}
#forPrint {
  display: none;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 1.5cm;
  }

  h1,
  #toolbars_panel,
  #board {
    display: none;
  }

  #forPrint {
    display: block;
    margin-top: 2cm;
  }
}