@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');

/* ############### MAIN LAYOUT ############### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #fff;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

body {
  text-align: center;
  font-family: 'Ubuntu Condensed', Ubuntu, Verdana, Arial, sans-serif;
  background-color: #333333;
}



h1 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  padding: 0 10px;
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.general {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 30px;
}

.sidebar {
  z-index: 2;
  position: fixed;
  width: 50px;
  bottom: 40px;
  top: 80px;
}

.toolbar {
  left: 0;
}

.colorbar {
  right: 0;
}

.status {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0;
}

.artboard-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 50px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 40px solid transparent;
  z-index: 1;
}

.artboard {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  overflow: hidden;
  background-color: #1a1a1a;
  text-align: center;
  height: 100%;
}

.equalizer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .general {
    height: 100px;
  }
  .sidebar {
    top: 130px;
  }
  .artboard-wrapper {
    border-top: 130px solid transparent;
  }
}



/* ############### PIXEL CANVAS ############### */
.pixel-canvas {
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  border-collapse: collapse;
  border: 2px solid #000;
}

table,
tr,
td {
  box-sizing: border-box;
}

tr {
}

td {
  background-color: #fff;
}

td:hover {
  box-shadow: inset 0 0 5px 0 rgba(90, 90, 90, 0.75);
}

.bordered-cells {
  border: 1px solid #d3d3d3;
}



/* ############### GENERAL PANEL ############### */
.general-features {
  position: relative;
  transition: all 0.5s;
  padding: 5px 0;
  text-align: left;
}

.general-features .tools {
  display: inline-block;
  margin: 0 5px;
}



/* ############### TOOLBAR PANEL ############### */
.toolbar-features {
  padding: 10px 5px;
}

.toolbar-features .tools {
  display: block;
  margin: 5px 0;
}



/* ############### TOOLS ############### */
.tools {
  position: relative;
  transition: all 0.5s;
}

.toolButton {
  padding: 0px;
  border: none;
  background: none;
  color: white;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}

.toolButton img {
  display: block;
  margin: 6px;
  width: 28px;
  height: 28px;
  opacity: 0.75;
  transition: all 0.2s;
}

.toolButton:enabled:hover img {
  margin: 4px;
  width: 32px;
  height: 32px;
  opacity: 1;
  filter: drop-shadow(0px 0px 4px #000);
}

.toolButton:disabled img {
  opacity: 0.2;
}

.toolButton:enabled:active,
.active-tool {
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: #272727;
}

.toolButton:enabled:active img,
.active-tool img {
  margin: 8px;
  width: 24px;
  height: 24px;
  opacity: 1;
}

.toolButton.active-tool:hover img {
  margin: 8px;
  width: 24px;
  height: 24px;
  filter: none;
}

.size-picker {
  display: block;
  height: 40px;
}

.input-width,
.input-height {
  display: block;
  float: left;
  font: 1.1em 'Ubuntu Condensed';
  box-sizing: border-box;
  margin: 5px 5px;
  padding: 0 5px;
  outline: none;
  border: none;
  height: 30px;
  width: 50px;
  transition: all 0.5s;
  color: #fff;
  background-color: #555555;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
}

label {
  box-sizing: border-box;
  position: relative;
  padding: 3px 0;
  margin: 5px 0 5px 5px;
  float: left;
  font-weight: 700;
  font-size: 1.3em;
  height: 30px;
  color: #fff;
  opacity: 0.75;
}



/* ############### COLORS ############### */


.colorbar-features {
  padding: 10px 5px;
}

.colorbar-features .tools{
  margin: 5px 0;
}

.color-picker::-webkit-color-swatch-wrapper,
.color-picker::-webkit-color-swatch {
  padding: 0;
  border: none;
  outline: none;
}

.color-picker::-moz-color-swatch-wrapper,
.color-picker::-moz-color-swatch {
  padding: 0;
  border: none;
  outline: none;
}

.color-picker {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 0px;
  border: none;
  outline: none;
  background-image: none;
  background: none;
}

.color-picker:hover {
  cursor: pointer;
}

.swatches {
  padding: 0;
  width: 40px;
  margin: 10px 5px;
}

.swatch {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

.swatch:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.pink {
  background-color: #ff00ff;
}

.purple {
  background-color: #a008c2;
}

.violet {
  background-color: #5d0a8a;
}

.dark-blue {
  background-color: #19469e;
}

.blue {
  background-color: #0c8ef2;
}

.light-blue {
  background-color: #66ccf5;
}

.turquoise {
  background-color: #06eda4;
}

.sea-green {
  background-color: #03c15a;
}

.dark-green {
  background-color: #00940f;
}

.green {
  background-color: #00c914;
}

.lime {
  background-color: #6aff00;
}

.yellow {
  background-color: #ffff00;
}

.gold {
  background-color: #ffd700;
}

.orange {
  background-color: #ff9100;
}

.dark-orange {
  background-color: #ff4900;
}

.red {
  background-color: #ff0000;
}

.brown {
  background-color: #85501f;
}

.black {
  background-color: #000000;
}

.gray {
  background-color: #808080;
}

.white {
  background-color: #ffffff;
}



/* ############### CURSORS ############### */
.brush-cursor {
  cursor: url('../img/cursors/brush_cursor.png') 0 30, default;
}

.eyedropper-cursor {
  cursor: url('../img/cursors/eyedropper_cursor.png') 0 30, default;
}

.erase-cursor {
  cursor: url('../img/cursors/erase_cursor.png') 0 30, default;
}

.fill-cursor {
  cursor: url('../img/cursors/fill_cursor.png') 0 25, default;
}

.line-cursor {
  cursor: url('../img/cursors/line_cursor.png') 10 10, default;
}

.circle-cursor {
  cursor: url('../img/cursors/circle_cursor.png') 10 10, default;
}

.rectangle-cursor {
  cursor: url('../img/cursors/rectangle_cursor.png') 10 10, default;
}



/* ############### STATUSBAR PANEL ############### */
.status-features {
  position: relative;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: left;
}

.status-info {
  float: left;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0 15px;
  border-right: 1px solid rgb(140, 140, 140);
}

.status .status-info:last-child {
  border: none;
}

.status-info > div {
  display: inline-block;
}

.status-label {
  text-transform: uppercase;
  margin-right: 5px;
}

.markers {
  display: inline-block;
}

.markers li {
  display: inline-block;
  margin-right: 10px;
}

.markers li:last-child {
  margin-right: 0;
}

.status-color-box {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.bg-color {
  background-color: #ffffff;
}

.bd-color {
  background-color: #d3d3d3;
}

.tl-color {
  background-color: #000000;
}

@media screen and (max-width: 930px) {
  .course {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .author {
    display: none;
  }
  .colors {
    border: none;
  }
}

@media screen and (max-width: 520px) {
  .colors .status-label {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .markers li span:last-child {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .colors {
    display: none;
  }

  .position {
    border: none;
  }
}



/* ############### HEPLPERS ############### */
.save-link {
  display: none;
}

.forPrint {
  display: none;
}



/* ############### HELP STYLES ############### */
.helpModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  transform: scale(0);
}

.helpContent {
  position: relative;
  width: 60%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2%;
  text-align: left;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
}

.helpHeader {
  color: #000;
  margin-bottom: 2%;
  text-align: center;
}

.toolList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.toolInstruction {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

@media screen and (min-width: 761px) {
  .toolInstruction {
    width: 50%;
  }
}

@media screen and (min-width: 1141px) {
  .toolInstruction {
    width: 33.33%;
  }
}

.toolImage {
  display: inline-block;
  padding: 6px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #333;
}

.toolImage img {
  display: block;
  width: 28px;
  height: 28px;
  opacity: 0.75;
  margin-right: 10px;
}

.cell-sizer-help {
  padding: 0;
}

.cell-sizer-help img {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.toolDescription {
  font-size: 1.2em;
  color: #000;
  align-self: center;
}

.closeModal {
  position: absolute;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: #fff;
  top: 0;
  right: 0;
}

.closeModal:hover .closeIcon {
  transform: scale(1.2);
}

.closeIcon {
  transition: all 0.2s;
  color: #000;
}

.showModal {
  transform: scale(1);
}



/* ############### PRINT STYLES ############### */
@media print {
  @page {
    margin: 0;
  }
  .header,
  .general,
  .artboard,
  .toolbar,
  .colorbar,
  .status,
  .helpModal {
    display: none;
  }
  .forPrint {
    display: block;
  }
  .forPrint img {
    display: block;
    max-width: 90%;
    margin: 1cm auto;
  }
}



/* ############### INPUT RANGE STYLES ############### */
.cell-sizer {
  height: 40px;
  -webkit-appearance: none;
  width: 100%;
	background-color: #333;
}
.cell-sizer:focus {
  outline: none;
}
.cell-sizer::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
  background: #555;
  border-radius: 30px;
}
.cell-sizer::-webkit-slider-thumb {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  height: 16px;
  width: 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 25%, rgba(170,170,170,1) 75%, rgba(170,170,170,1) 100%);
}
.cell-sizer:hover::-webkit-slider-thumb {
	transform: scale(1.2);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(204,204,204,1) 75%, rgba(204,204,204,1) 100%);
}
.cell-sizer:focus::-webkit-slider-runnable-track {
  background-color: #555;
}

.cell-sizer::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
  background-color: #555;
  border-radius: 31px;
}
.cell-sizer::-moz-range-thumb {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  height: 16px;
  width: 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 25%, rgba(170,170,170,1) 75%, rgba(170,170,170,1) 100%);
}
.cell-sizer:hover::-moz-range-thumb {
	transform: scale(1.2);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(204,204,204,1) 75%, rgba(204,204,204,1) 100%);
}



/* ############### VENDOR OVERWRITTEN STYLES ############### */
.cell-sizer::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
  background: #555;
	border:none;
  border-radius: 31px;
}
.cell-sizer::-ms-fill-lower {
  background-color: #555;
  border: none;
  border-radius: 62px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
}
.cell-sizer::-ms-fill-upper {
  background-color: #555;
  border: none;
  border-radius: 62px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
}
.cell-sizer::-ms-thumb {
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  height: 16px;
  width: 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 25%, rgba(170,170,170,1) 75%, rgba(170,170,170,1) 100%);
}

.cell-sizer:hover::-ms-thumb {
	transform: scale(1.2);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(204,204,204,1) 75%, rgba(204,204,204,1) 100%);
}

.cell-sizer:focus::-ms-fill-lower {
  background-color: #555;
}
.cell-sizer:focus::-ms-fill-upper {
  background-color: #555;
}

/* ############### VENDOR OVERWRITTEN STYLES ############### */
.mCSB_outside + .mCSB_scrollTools {
  right: -5px;
}

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -5px;
}

.vertical-aligner {
  top: 50% !important;
  transform: translateY(-50%) !important;
}